<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta name="description" content="Vida Saudável Orgânicos, loja online de produtos orgânicos, integrais e naturais." />
		<meta name="author" content="Felipe Guerra" />
		<meta name="title" content="Vida Saudável Orgânicos, alimentos e produtos orgânicos, são paulo" />
		<meta name="keywords" content="alimentos e produtos orgânicos, São Paulo, Lapa,Pompéia,Vila Leopoldina,São Domingos,Alto de Pinheiros,Pinheiros,Perdizes,Consolação,Bela Vista,Jd. Paulista,Itaim Bibi,Moema,Vila Mariana,Aclimação,Higienópolis,Jaguaré,Butantã,Morumbi,V. Madalena,Alto da Lapa,V. Olímpia,Brooklyn,Saúde,Aeroporto,Paraíso,Jardins,Pirituba,Vila Jaguara,V. Sônia,Campo Belo,Santa Cecília,Ipiranga,Mooca,Cambuci,Liberdade,Jabaquara,V. Romana,Barra Funda" />
		<title>&{'application.crm.cupom.desconto.email.subject'}</title>
		<style type="text/css">
			a:link, a:visited, a:hover, a:active {
				text-decoration: none
			}
		</style>
	</head>
	<body style="padding: 0px; margin: 0px; font-family: 'Trebuchet MS', Verdana; font-size: 12px; font-weight: normal;">
		<div align="center"><a href="@@{Home.index}?cp_code=${cupomDesconto.codigo}" target="_blank">Clique aqui</a> ou na imagem para utilizar o cupom.</div>
		<div align="center">
			<a href="@@{Home.index}?cp_code=${cupomDesconto.codigo}" target="_blank">
			<img src="&{'application.static.content'}&{'application.path.public.images'}header-cupom-desconto.jpg" alt="header-cupom-desconto" width="460" height="300" />
			<div style="width: 460px; height: 20px" align="center">
			<b>${cupomDesconto.desconto.porcentagem}% de Desconto - Validade: ${cupomDesconto.diasValidadeCupom} dias</b>
			</div>
			<img src="&{'application.static.content'}&{'application.path.public.images'}footer-cupom-desconto.jpg" alt="footer-cupom-desconto" width="460" height="300" />
			</a>
		</div>
		<p align="center">Compartilhe esse link com seus amigos nas redes sociais: <code>@@{Home.index}?cp_code=${cupomDesconto.codigo}</code></p>
	</body>
</html>
	